*
!.gitignore
!/.config
!/.warp
!/.warp/**/*
/.config/*
!.config/starship.toml
!.config/nvim
!.config/nvim/**/*
.config/nvim/plugin
.config/nvim/plugin
.config/nvim/plugin/*
!.zshrc
!.zsh
!.zsh/**/*
!.eslintrc.json
